<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>My App</title>
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <title>Test</title>
</head>

<body>

    <div style="margin-top: 80px">

        <div class="card" style="width: 800px;">
            <div class="card-header">

                <div class="remark primary " style="padding-top: 10px; margin: 2px">
                    <h4>Success!</h4>
                </div>

            </div>
        </div>




    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>

</html>