<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>My App</title>
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <title>Java 17 Super App</title>
</head>

<body>

    <div style="margin-top: 80px">

        <div class="card" style="width: 800px;">
            <div class="card-header colspan-10">
                <div class="row">
                    <div class="colspan-10">
                        <div th:if="${validToken == true}" class="remark success "
                            style="padding-top: 10px; margin: 2px">
                            <h4>Token Details Bound!</h4>
                        </div>

                        <div th:if="${validToken != true}" class="remark alert " style="padding-top: 10px; margin: 2px">
                            <h4>Token could not be Bound!</h4>
                        </div>
                    </div>
                    <div class="colspan-1" style="padding: 20px;">
                        <a href="#" class="button secondary outline cycle" style="margin-right: 20px;" data-role="hint"
                            th:href="@{/app/}" role="button" data-hint-position="bottom" data-cls-hint="fg-black"
                            data-hint-text="Home">
                            <span class="mif-home" style="margin-left: 0px"></span>
                        </a>
                    </div>
                </div>

            </div>


            <div class="row" style="padding-top: -10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">

                <table class="table compact striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Property</th>
                            <th style="text-align: center;">Value</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prop : ${tokenDetails}">

                            <td style="text-align: center; color: #5D6A81; font-weight: bolder;" th:text="${prop.key}">
                            </td>
                            </td>
                            <td style="text-align: center;; color: #81745D; font-weight: bolder;"
                                th:text="${prop.value}"></td>


                        </tr>
                    </tbody>
                </table>

            </div>


        </div>

    </div>
    <div>


    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>

</html>